*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
    color: #151111;
}
body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    background: #003b3b;
    color: #ffffff;
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;    
}

header {
    box-shadow: 0px 0px 20px 2px #000202;
}
.logo{
    flex-basis: 20%;
    max-width: 20%;
    text-align: center;
}

.logo img{
    max-width: 70%;
    padding-top: 21px;
}

nav{
    flex-basis: 80%;
    max-width: 80%;

}

nav ul,.footer ul{
    display: flex;
    padding: 0;
    margin-right: 20px;
    justify-content: flex-end;
}
.footer ul{
    display: block !important;
}
nav ul li, .footer li{
    list-style-type: none;
    margin-right: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}
nav ul li a,.dropbtn,.logoutBtn {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 13px 35px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

}

nav ul li a:hover,.dropbtn:hover,.dropdown-content a:hover,.btn:hover,.logoutButton a:hover,.back a:hover {
    background-color: #001a1a;
    border-radius: 5px;
    color: #ffffff;
}
.logoutButton a:hover{
    border: 1px solid #c55a11;
}
nav ul li:hover{
    border: 1px solid #c55a11;
}

.middle-content{
    margin-right: 100px;
}

.dropdown-content{
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #047373a8;
}
.dropdown-content ul,.dropdown-content li{
    margin: 0px;
}
.dropdown-content li{
    margin-right: 5px;
}
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  margin-top: 2px;  
}
.banner-section {
    margin-top: 50px;
    background-image: url(../sources/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .container {
    padding: 31px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner-section h1,.loginContent h2 {
    font-size: 63px;
    font-weight: 600;
    color: #fff;
    padding: 85px 0px 35px 0px;
}
.banner-section span {
    width: 100%;
    height: 2px;
    background: #003b3b;
    display: block;
}

.banner-section p {
    font-size: 29px;
    font-weight: 500;
    color: #fff;
    margin: 45px 0px 30px;
    padding-bottom: 88px;
}
.btn {
    border: 1px solid #003b3b;
    background: #fffefe3b;
    margin: 10px;
    color: #f9ffff;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 13px 35px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.banner-section button:hover,.forgotPass:hover,.back:hover,.submitButton:hover {
    border: 1px solid #c55a11;
    background: #001a1a;
    color: #fff;
}

.footer{
    background: #ffffff78;  
}
.footer .container{
    padding: 20px;
    margin-bottom: 30px;
}

.info,.contact{
    max-width: 50%;
    flex-basis: 50%;
    padding-top: 21px;
}
.info ul,.contact ul{
    margin: 5px 150px 5px 150px;
}
.info li,.contact li{
    margin: 5px 0px 5px 0px;
}
.loginClass{
    flex-basis: 30%;
    max-width: 30%;
    margin: 30px 0px 30px 40px;
    padding: 30px;
    background: #002727;
    border-radius: 20px;
}
.loginClass h1,.addCourseClass h1,.instacTorRegClass h1{
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.loginForm,.addCourseForm,.instRegForm,.addInstactForm,.addInstactorForm,.companyApprovalForm{
    text-align: left;
}
.loginForm input,.addCourseForm input[type=text],.addCourseForm input[type=number],
.addCourseForm textarea,.addInstactorForm input[type=text],.addInstactorForm input[type=password],
.searchBar input[type=text],.instRegForm input[type=text],.instRegForm input[type=number],.instacTorRegClass input[type=password]{

padding: 10px 0px 10px 5px;

margin: 10px 5px 15px 0px;

width: 100%;
}
.searchBar input[type=text]{
    padding-left: 20px !important;
    padding-right: 24px !important;
}
.loginForm label,.addCourseForm label,.instRegForm label,.addInstactorForm label,.companyApprovalForm label{

    font-size: 18px;
}
.submitButton{
    justify-content: center;
    margin-left: 6px !important;
}
.forgotPass,.back{

margin-bottom: 10px;
}
.forgotPass a,.back a{

color: #fff;
}
.loginFooter{
    
margin: 45px 0px 0px 0px;
    
display: flex;
}
.loginContent{
    flex-basis: 50%;
    max-width: 50%;
    text-align: left;
    padding-left: 75px;
}
.loginContent h2{

padding: 30px 0px 10px 0px;
}
.loginRow1{

}
.loginRow2{

}
.loginRow3{

}
.loginRow1,.loginRow2,.loginRow3{

}
.addSection,.viewSection,.modifySection{
    flex-basis: 40%;
    max-width: 40%;
    margin: 30px 0px 30px 40px;
    padding: 30px;
    background: #002727;
    border-radius: 20px;
}
.modifySection{
margin-left: 270px;
}
.addSection{
    padding: 63px 0px 63px 0px;
}
.addSection h1,.viewSection h1, .modifySection h1{
    padding: 0px 0px 30px 0px;
}
.viewSection{

}

.addSection a,.viewSection a,.modifySection a{
    color: #fff;
}
.logoutButton,.backButton{
    display: flex;
    justify-content: center;
}
.logoutButton h3,.backButton h3{
    padding-top: 10px;
}
.logoutButton a,.backButton a{
    margin-left: 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
}
.addCourseClass,.instacTorRegClass,.addInstactorClass,.approveCompanyClass,.viewCompanyClass,
.viewCourseClass,.viewLernerClass,.viewInstactorClass{
    padding: 20px;
    flex-basis: 35%;
    max-width: 100%;
    margin: auto;
    margin-top: 47px;
    background: #ffffff30;
    border-radius: 10px;
}
.addCourseForm{

}

.addCourseForm input[type=radio],.instRegForm input[type=radio]{

margin: 15px 5px 20px 10px;

height: 20px;

width: 20px;

vertical-align: middle;
}
.addCourseForm input[type=file],.instRegForm input[type=file]{

margin: 5px 5px 5px 10px;

padding: 5px 30px 10px 5px;
}
.addCourseForm input[type=submit],.instRegForm input[type=submit]{

margin-left: 40px !important;
}
.addCourseForm input[type=reset]{
}
.addCourseForm textarea{
    
font-family: 'Lato', sans-serif;
    
font-size: 16px;
    
height: 80px;
}
.addCourseBack{

}
.addCourseBack h3,.addInstactorBack h3,.companyList h3,.courseList h3,.instactorList h3,.lernerList h3{
    
padding-top: 19px;
}
.addCourseBack a{

background: transparent;
}
.addInstactorForm input[type=submit]{
margin-left: 25px !important;
}
.searchBar{
        flex-basis: 80%;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
}
.searchBar .logoutButton
{
    
display: block !important;
    
padding-top: 7px;
    
margin-right: 35px;
}
.searchBar form{
    margin-right: 60px;
    border-radius: 10px;
}
.searchBar input[type=submit]{margin-top: 8px;margin-bottom: 14px !important;padding: 15px 15px 15px 15px;}
.companyApproval table tbody tr td,.companyApproval table tbody tr th,.companyList table tbody tr th,
.companyList table tbody tr td,.courseList table tbody tr th,.courseList table tbody tr td,.instactorList table tbody tr th,
.instactorList table tbody tr td,.lernerList table tbody tr th,.lernerList table tbody tr td{
    padding: 5px 20px;
    text-align: left;
}
.companyApproval,.companyList,.courseList,.instactorList,.lernerList{
    
margin: 30px 30px;
}
.companyApprovalForm{
    
display: flex;
}

.companyApprovalForm input[type=text]{

padding: 0px 33px !important;

margin: 14px 0px 14px 0px;
}
.companyApprovalForm .btn{

margin: 12px 0px 12px 0px;

padding: 10px 10px;
}
.companyList table{
    padding-left: 50px;
}
.addViewCompanyBack{
    margin-top: 60px;
}
.errorMsg{
        color: #ff0505;
        font-size: 15px;
}
.addInvalidBack  h3 {
    padding-top: 20px;
}
.popUp {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000ad;
}

.popUp-content {
  background-color: #000000d4;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
#UpdatePointForm{
    display: none;
}